@import "./common.scss";

.landing {
  &_container {
    @extend .flex_center-col;
  }

  &_title {
    font-size: 48px;
    font-weight: 600;
  }

  &_content {
    color: $informed-gray;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
  }

  &_link-section {
    width: 50vw;
  }

  &_link {
    @extend .app-opacity-in;
    @extend .flex_center-col;
    color: $informed-gray;
    fill: $informed-gray;
    font-size: 18px;
    margin-right: 10px;
    padding: 10px;
  }

  &_svg {
    fill: $informed-gray;
    margin: 50px;
  }

  &_search-container {
    padding: 30px;
  }

  &_version {
    color: $informed-gray;
    font-style: italic;
  }
}
