@import "./common.scss";

$table-section-margin: 2vh;

.candidate_search {
  &-container {
    @extend .flex_center-col;
  }

  &-query-input {
    @media (min-width: $desktop-min-width) {
      min-width: 50%;
    }
  }

  &-submit-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &-status-container {
    @extend .flex_center-row;
    flex-wrap: wrap;
  }

  &-status {
    flex-wrap: wrap;
    display: flex;
    margin: 10px;

    &-secondary {
      @extend .candidate_search-status;
      opacity: 0.5;
    }
  }

  &-loader {
    margin-top: $table-section-margin;
  }

  &-table {
    margin-top: $table-section-margin;
    width: 100%;
    @media (min-width: $desktop-min-width) {
      width: 60%;
    }

    &-cell {
      padding: 20px 20px 20px 20px !important;
    }
  }

  &-pagination-container {
    padding: 20px;
  }

  &-empty-results {
    @extend .flex_center-col;
    margin-top: $table-section-margin;
    color: $informed-gray;
    fill: $informed-gray;
    font-style: italic;

    @media (min-width: $desktop-min-width) {
      margin-top: 100px;
    }
  }

  &-content-header {
    color: $informed-gray;
    font-weight: 600;
  }

  &-content-container {
    padding: 10px 20px 10px 20px;
    @media (min-width: $desktop-min-width) {
      padding: 10px 100px 10px 100px;
    }
  }

  &-content-row {
    margin: 20px 0px 20px 0px;
  }

  &-full-btn {
    @extend .app-link;
    font-weight: 600;
    float: right;
    padding: 10px;
  }
}
