@import "./styles/app.scss";
@import "./styles//landing.scss";
@import "./styles//common.scss";
@import "./styles/search.scss";
@import "./styles/hub.scss";
@import "./styles//charting.scss";

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Sofia Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
